<!--
 This file is part of "CroSSe Widget".
 Copyright (c) 2007-2008 CRP Henri Tudor and contributors (Marie-Laure Watrinet, Jérôme Bogaerts).
 All rights reserved.

 "myWiWall" is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License version 2 as published by
 the Free Software Foundation.
 
 "myWiWall" is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with "myWiWall"; if not, write to the Free Software
 Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
-->
<widget xmlns="http://www.w3.org/TR/widgets/"
	xmlns:palette="http://palette.ercim.org/ns/"
	width="300"
	height="160"
	id="rssFeedReader">
    <title>RSS Feed Reader</title>
	<author url="http://www.tudor.lu" email="jerome.bogaerts@tudor.lu">Jérôme Bogaerts</author>
    <description>A basic RSS reader using XMLHttpRequest.</description>
	<palette:widget_type>local</palette:widget_type>
    <palette:preferences>
        <palette:preference name="feed_url" display_name="RSS Url" datatype="string" default_value="http://en-gb.fxfeeds.mozilla.com/en-GB/firefox/headlines.xml"/>
        <palette:preference name="items_quantity" display_name="Items by page" datatype="number" default_value="5"/>
    	<palette:preference name="display_title" datatype="hidden" default_value="true"/>
    </palette:preferences>
</widget>
